<section class="mglc-footer">

    <div class="mglc-footer-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 mglc-footer-container-item">
                    <div class="mglc-footer-container-item-title info-title">
                        <h3 class="mglc-footer-container-item-title-value">
                            creative agency from sarajevo - bin
                        </h3>
                    </div>

                    <div class="mglc-footer-container-item-description">
                        <p class="mglc-footer-container-item-description-value">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi eaque optio quasi ullam.
                            Consequatur consequuntur debitis optio perferendis ratione similique soluta vel velit?
                            Commodi culpa ducimus est et itaque mollitia reprehenderit tempore veniam. Amet cum
                            cupiditate ipsum iusto veritatis.
                        </p>
                    </div>
                </div>

                <div class="col-xl-2 mglc-footer-container-item">
                    <div class="mglc-footer-container-item-title">
                        <h3 class="mglc-footer-container-item-title-value">
                            links
                        </h3>

                        <div class="mglc-footer-container-item-title-border">
                        </div>
                    </div>

                    <div class="mglc-footer-container-item-links">
                        <div class="mglc-footer-container-item-links-item">
                            <a href="#">
                                link
                            </a>
                        </div>

                        <div class="mglc-footer-container-item-links-item">
                            <a href="#">
                                link
                            </a>
                        </div>

                        <div class="mglc-footer-container-item-links-item">
                            <a href="#">
                                link
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 mglc-footer-container-item">
                    <div class="mglc-footer-container-item-title">
                        <h3 class="mglc-footer-container-item-title-value">
                            twitter widget
                        </h3>

                        <div class="mglc-footer-container-item-title-border">
                        </div>
                    </div>

                    <div class="mglc-footer-container-item-twitter">
                        <div class="mglc-footer-container-item-twitter-post">
                            <div class="mglc-footer-container-item-twitter-post-content">
                                <p class="mglc-footer-container-item-twitter-post-content-value">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci cupiditate ex
                                    illum nemo neque optio qui quia similique sunt.
                                </p>
                            </div>

                            <div class="mglc-footer-container-item-twitter-post-date">
                                <p class="mglc-footer-container-item-twitter-post-date-value">
                                    <span>
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                    01 day ago
                                </p>
                            </div>
                        </div>

                        <div class="mglc-footer-container-item-twitter-post">
                            <div class="mglc-footer-container-item-twitter-post-content">
                                <p class="mglc-footer-container-item-twitter-post-content-value">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>

                            <div class="mglc-footer-container-item-twitter-post-date">
                                <p class="mglc-footer-container-item-twitter-post-date-value">
                                    <span>
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                    01 day ago
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 mglc-footer-container-item">
                    <div class="mglc-footer-container-item-title links-title">
                        <h3 class="mglc-footer-container-item-title-value">
                            instagram
                        </h3>

                        <div class="mglc-footer-container-item-title-border">
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="mglc-footer-galery row">
                            <div class="picture col-xl-4">
                                <a href="../img/Potfolio_gird/picture-1.jpg" data-lightbox="mglc-footer-galery">
                                    <img src="../img/Potfolio_gird/picture-1.jpg" alt="picture-1">

                                    <div class="picture-hover">
                                        <div class="picture-hover-container">
                                            <div class="picture-hover-container-icon">
                                                <i class="fas fa-search">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="picture col-xl-4">
                                <a href="../img/Potfolio_gird/picture-2.jpg" data-lightbox="mglc-footer-galery">
                                    <img src="../img/Potfolio_gird/picture-2.jpg" alt="picture-2">

                                    <div class="picture-hover">
                                        <div class="picture-hover-container">
                                            <div class="picture-hover-container-icon">
                                                <i class="fas fa-search">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="picture col-xl-4">
                                <a href="../img/Potfolio_gird/picture-3.jpg" data-lightbox="mglc-footer-galery">
                                    <img src="../img/Potfolio_gird/picture-3.jpg" alt="picture-3">

                                    <div class="picture-hover">
                                        <div class="picture-hover-container">
                                            <div class="picture-hover-container-icon">
                                                <i class="fas fa-search">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="picture col-xl-4">
                                <a href="../img/Potfolio_gird/picture-4.jpg" data-lightbox="mglc-footer-galery">
                                    <img src="../img/Potfolio_gird/picture-4.jpg" alt="picture-4">

                                    <div class="picture-hover">
                                        <div class="picture-hover-container">
                                            <div class="picture-hover-container-icon">
                                                <i class="fas fa-search">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="picture col-xl-4">
                                <a href="../img/Potfolio_gird/picture-5.jpg" data-lightbox="mglc-footer-galery">
                                    <img src="../img/Potfolio_gird/picture-5.jpg" alt="picture-5">

                                    <div class="picture-hover">
                                        <div class="picture-hover-container">
                                            <div class="picture-hover-container-icon">
                                                <i class="fas fa-search">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="picture col-xl-4">
                                <a href="../img/Potfolio_gird/picture-6.jpg" data-lightbox="mglc-footer-galery">
                                    <img src="../img/Potfolio_gird/picture-6.jpg" alt="picture-6">

                                    <div class="picture-hover">
                                        <div class="picture-hover-container">
                                            <div class="picture-hover-container-icon">
                                                <i class="fas fa-search">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mglc-footer-container-copyright">
            <div class="mglc-footer-container-copyright-description">
                <p class="mglc-footer-container-copyright-description-value">
                    © 2015 MAGLIC. CREATIVE PSD TEMPLATE. Powered By COMBOCODER
                </p>
            </div>

            <div class="mglc-footer-container-copyright-social">
                <div class="mglc-footer-container-copyright-social-item">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>

                <div class="mglc-footer-container-copyright-social-item">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>

                <div class="mglc-footer-container-copyright-social-item">
                    <i class="fab fa-dribbble"></i>
                </div>

                <div class="mglc-footer-container-copyright-social-item">
                    <a href="#">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>

                <div class="mglc-footer-container-copyright-social-item">
                    <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </div>

                <div class="mglc-footer-container-copyright-social-item">
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>