<section class="mglc-header">

    <div class="mglc-header-logo">
        <a class="mglc-header-logo-link" href="#home">
            <img class="mglc-header-logo-link-icon" src="images/logo.png" alt="logotype">
        </a>
    </div>

    <nav id="main-navigation" class="navbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#home">home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#services">services</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#work">work</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#about">about us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#team">team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#blog">blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#pricing">pricing</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact">contact</a>
            </li>
        </ul>
    </nav>

</section>