<header class="mglc-header">

    <a class="mglc-header-logo-link" href="#home">
        <img class="mglc-header-logo-link-icon" src="images/logo.png" alt="logotype">
    </a>

    <nav id="main-navigation" class="navbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link scrollLink" href="#home">home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#services">services</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#work">work</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#about">about us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#team">team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#blog">blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#pricing">pricing</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scrollLink" href="#contact">contact</a>
            </li>
        </ul>
    </nav>

</header>