<div class="mglc-triangle-container">
    <div class="mglc-triangle-container-line">
    </div>

    <div class="mglc-triangle-container-icon">
        <svg width="33px" height="26px">
            <defs>
                <filter>
                    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" />
                    <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                    <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                </filter>

            </defs>
            <g>
                <path fill-rule="evenodd" fill="rgb(20, 20, 20)"
                    d="M22.663,11.676 L10.269,11.671 L16.471,1.674 L22.663,11.676 ZM16.491,25.038 L8.729,12.509 L24.222,12.517 L16.471,-0.004 L8.718,12.488 L0.976,-0.014 L32.026,0.000 L16.491,25.038 Z" />
            </g>
        </svg>
    </div>

    <div class="mglc-triangle-container-line">
    </div>
</div>