.mglc-about-section {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 96px;
   
    &-bg {
        position: absolute;
        top: 115px;
        right: 94px;
        z-index: -1;
        background-image: url("../images/background/phone.png");
        background-position: right;
        background-repeat: no-repeat;
        height: 400px;
        width: 375px;
    }
    
    & .mglc-about-section-title {
        max-width: $max-width-title;
        margin: 0 auto;
        text-align: center;
    
        &-value {
            @include mglc-font-montserrat-bold;
            margin-top: 47px;
            font-size: 18px;
        }

        & .template-hummer {
            display: inline-block;
            margin-top: 25px;
        }
        
        &-mission {
            @include mglc-font-open-sans-light;
            margin-top: 14px;
            font-size: 18px;
            color: $grey-color-2;
            
        }
    }

    &-container {
        max-width: $max-width-content;
        height: 422px;
        margin: 0 auto;
        display: flex;
        
        &-text {
            display: flex;
            flex-direction: column;
            max-width: 660px;
            padding-top: 125px;
            padding-bottom: 114px;

            & h3 {
                @include mglc-font-montserrat-bold;
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            & .text {
                @include mglc-font-montserrat-regular;
                margin-top: 6px;
                padding-left: 2px;
                font-size: 14px;
                line-height: 30px;
                color: #6f6f6f;
            }

            & .line {
                height: 1px;
                width: 80px;
                flex: 0 0 1px;
                margin-top: 16px;
                padding-left: 1px;
                background-color: black;
            }
            
            & .signature {
                @include mglc-font-open-sans-regular;
                font-size: 10px;
                letter-spacing: 1px;
                margin-top: 13px;
                padding-left: 2px;
            }
        }
    }

    & .mglc-about-section-item {
        max-width: $max-width-content;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & .point-services {
            width: 366px;
            margin-top: 28px;
            margin-bottom: 28px;
            display: flex;
            justify-content: space-between;
            transition: all 0.3s ease;

            &-icon {
                padding-left: 1px;
                padding-top: 9px;
                font-size: 33px;
            }

            &-info {
                padding-left: 46px;
                line-height: 23px;

                &-name {
                    @include mglc-font-montserrat-bold;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-bottom: 11px;  
                }

                &-text {
                    @include mglc-font-montserrat-regular;
                    font-size: 13px;
                    color: #6f6f6f;
                }
            }
        }
 
    } 
}  

