.mglc-facts-section {
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 16px;
    padding-bottom: 31px;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: url("../images/background/bg3.jpg") no-repeat fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    &-container {
        max-width: $max-width-content;
        margin: 70px auto 55px;
        display: flex;
        justify-content: space-between;

        &-points {
            flex: 0 0 25%;
            text-align: center;
            transition: .3s;

            & .indicator {
                @include mglc-font-montserrat-regular;
                margin-bottom: 30px;
                font-size: 48px;
                color: $text-color;
            }

            & .indicator-text {
                @include mglc-font-montserrat-bold;
                position: relative;
                font-size: 18px;
                color: $text-color;

                &:before {
                    position: absolute;
                    top: 43px;
                    left: 111px;
                    content: '';
                    height: 3px;
                    width: 55px;
                    background:#d0d0d0;
                }
            }
        }    
        &-points:hover {
            & .indicator-text::before {
                position: absolute;
                bottom: 0;
                left: 110px;
                width: 55px;
                background: $yellow-color;
                height: 3px;
            }
            
        }
    }
}