.mglc-facts-section {
    background-image: url("../../img/background/bg3.jpg") no-repeat;
    background-size: cover;
    height: 320px;
    max-width: $max-width-content;
    padding-bottom: 100px;
       
    // &-bg {
    //     background-image: url("../../img/background/bg3.jpg") no-repeat;
    //     background-size: cover;
    //     height: 320px;
    //     width: 100%;
    // }
}