.mglc-pricing-section {
    padding: 110px 16px 89px;

    &-title {
        text-align: center;
        margin-bottom: 71px;
          
        &-value {
            @include mglc-font-montserrat-bold;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-right: 12px;
        }
          
        & .template-hummer {
            display: inline-block;
            margin-top: 11px;
            }
          
        &-mission {
            @include mglc-font-open-sans-light;
            margin-top: 12px;
            font-size: 18px;
            text-transform: capitalize;
            color: $grey-color-2;
        }
    }

    &-container {
        max-width: $max-width-content;
        margin: 0 auto;
        
        &-heading {
            text-align: center;
            letter-spacing: 2px;

            &-part1 {
                @include mglc-font-montserrat-semi-bold;
                padding-right: 6px;
                font-size: 18px;
                text-transform: uppercase;
            }

            &-part2 {
                @include mglc-font-montserrat-regular;
                padding-right: 6px;
                font-size: 18px;
                text-transform: capitalize;
                color: $grey-color-2;
            }

            &-part3 {
                @include mglc-font-open-sans-light-italic;
                font-size: 18px;
                text-transform: uppercase;
            }
        }

        &-cards {
            margin-top: 74px;
            padding: 0;

            & .card {
                margin-bottom: 16px;
                transition: box-shadow .3s;

                &-body {
                    border-bottom: 1px solid rgba(130, 130, 130,.2);
                }

                &-title {
                    @include mglc-font-montserrat-bold;
                    margin-top: 4px;
                    margin-bottom: 3px;
                    font-size: 14px;
                    text-align: center;
                    text-transform: uppercase;
                }

                & .list-group {
                    margin-bottom: 22px;
                    padding: 0;
                    list-style-type: none;

                    &-item:first-child {
                        margin-top: 23px;
                    }
                    
                    &-item {
                        @include mglc-font-montserrat-regular;
                        padding: 15px 0;
                        font-size: 12px;
                        letter-spacing: 1px;
                        text-align: center;
                        text-transform: capitalize;
                        color: $grey-color-2;
                        border-bottom: none;
    
                        & sup {
                            top: -28px;
                            
                            & i {
                                font-size: 18px;
                                color: #141414;
                            }
                        }

                        & p {
                            @include mglc-font-montserrat-regular;
                            display: inline-block;
                            margin-top: 18px;
                            font-size: 50px;
                            color: #141414;
                        }

                        & span {
                            @include mglc-font-open-sans-light-italic;
                            font-size: 14px;
                            text-transform: lowercase;
                            color: $black-color-2;
                        }
                    }
                }

                & .button {
                    margin: 0 auto;
                    border-bottom: none;
    
                    & .get-plan-btn{
                        @include mglc-font-montserrat-bold;
                        padding: 10px 43px;
                        background: none;
                        border: 1px solid rgba(20,20,20,.8);
                        font-size: 12px;
                        align-items: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        cursor: pointer;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }

                &:hover {
                    box-shadow: 3px 3px 7px rgba(33,33,33,.6);

                    & .get-plan-btn {
                        opacity: 1;
                        border: 1px solid $yellow-color;
                        background: $color-button;
                    }
                }
            }
        } 
    }     
}
