.mglc-reviews-section {
    &-container {
        position: relative;
        padding-bottom: 100px;
        background-color: rgba(0, 0, 0, .5);

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url("../../img/background/bg1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        &-title {
            padding-top: 100px;

            &-value {
                @include mglc-font-montserrat-bold;
                margin-bottom: 20px;
                text-align: center;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: $text-color;
                font-size: 18px;
            }
        }

        &-subtitle {
            margin-top: 15px;
            text-align: center;

            &-value {
                text-transform: capitalize;
                color: $text-color;
            }
        }

        &-authors {
            margin: 50px auto 0;
            max-width: 500px;
            width: 100%;

            &-item {
                & .review-avatar {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    transition: 0.3s;
                    opacity: .6;
                    cursor: pointer;

                    &.active {
                        border: 4px solid $yellow-color;
                        opacity: 1;
                    }
                }
            }
        }

        & .carousel {
            transition: .3s;

            &-item img {
                visibility: hidden;
                height: 330px;
            }

            &-caption {
                display: flex !important;
                align-items: center;
                justify-content: center;
                top: 0;
                margin: -60px auto 0;
                max-width: 700px;
                width: 100%;
                height: 100%;

                & p {
                    @include mglc-font-open-sans-light-italic;
                    font-size: 20px;
                    color: $text-color;
                }
            }

            & .carousel-indicators {
                & li {
                    margin: 0 7px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }

                & .active {
                    background-color: $yellow-color;
                }
            }
        }

        &-info {
            position: absolute;
            width: 100%;
            max-width: initial;
            bottom: 60px;
            text-align: center;
            color: $text-color;

            &-additional {

                &-title,
                &-subtitle {
                    &-value {
                        margin: 15px 0 0;
                        text-transform: uppercase;
                    }
                }

                &-title-value {
                    @include mglc-font-montserrat-regular;
                    font-size: 14px;
                }

                &-subtitle-value {
                    @include mglc-font-open-sans-light;
                    font-size: 12px;
                }
            }
        }
    }

    &-footer {
        width: 100%;
        background: $grey-color;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $max-width-content;
            width: 100%;
            margin: 0 auto;
            padding: 30px 0;

            &-title {
                @include mglc-font-open-sans-light;
                color: $text-color;
                font-size: 24px;

                & span a {
                    color: $yellow-color;
                }
            }

            &-button {
                & button {
                    @include mglc-font-montserrat-bold;
                    padding: 12px 32px;
                    color: $text-color;
                    background   : none;
                    border: 1px solid $text-color;
                    text-transform: uppercase;
                    font-size: 10px;
                    transition: 0.3s;

                    &:hover {
                        border-color: $yellow-color;
                    }
                }
            }
        }
    }
}