.mglc-reviews-section {
    &-container {
        position: relative;
        padding-bottom: 47px;
        background-color: rgba(0, 0, 0, .5);

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url("../../img/background/bg4.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        &-title {
            padding-top: 102px;
            text-align: center;

            &-value {
                @include mglc-font-montserrat-bold;
                margin-bottom: 14px;
                text-align: center;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: $text-color;
                font-size: 18px;
                padding-right: 13px
            }

            &-template-hummer {
                display: inline-block;
                margin-right: 15px;
            }

            &-mission {
                @include mglc-font-open-sans-light;
                margin-top: 13px;
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
            }
        }

        &-authors {
            margin: 50px auto 0;
            max-width: 500px;
            width: 100%;

            &-item {
                & .review-avatar {
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    transition: 0.3s;
                    opacity: .6;
                    cursor: pointer;

                    &.active {
                        border: 4px solid $yellow-color;
                        opacity: 1;
                    }
                }
            }
        }

        & .carousel {
            transition: .3s;

            &-item img {
                visibility: hidden;
                height: 330px;
            }

            &-caption {
                display: flex !important;
                align-items: center;
                justify-content: center;
                top: 0;
                margin: -82px auto 0;
                max-width: 765px;
                width: 100%;
                height: 100%;

                & p {
                    @include mglc-font-open-sans-light-italic;
                    font-size: 18px;
                    color: $text-color;
                }
            }

            & .carousel-indicators {
                bottom: 32px;
                padding-right: 18px;
                & li {
                    margin: 0 5px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }

                & .active {
                    background-color: $yellow-color;
                }
            }
        }

        &-info {
            position: absolute;
            width: 100%;
            max-width: initial;
            bottom: 94px;
            text-align: center;
            color: $text-color;

            & .template-triangle {
                display: inline-block;
                margin-top: 11px;
            }

            &-title{
                @include mglc-font-montserrat-regular;
                margin: 0;
                padding-top: 20px;
                font-size: 14px;
                text-transform: uppercase;
            }
            
            &-subtitle {
                @include mglc-font-open-sans-light;
                margin: 0;
                padding-top: 11px;
                font-size: 12px; 
                text-transform: uppercase;   
            }
            
        }
    }

    &-footer {
        width: 100%;
        background: $grey-color;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $max-width-content;
            width: 100%;
            margin: 0 auto;
            padding: 25px 0;

            &-title {
                @include mglc-font-open-sans-light;
                padding-bottom: 5px;
                color: $text-color;
                font-size: 24px;

                & span a {
                    color: $yellow-color;
                }
            }

            &-button {
                padding-right: 8px;
                & button {
                    @include mglc-font-montserrat-bold;
                    padding: 17px 37px;
                    color: $text-color;
                    background   : none;
                    border: 1px solid $text-color;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 2px;
                    transition: 0.3s;

                    &:hover {
                        border-color: $yellow-color;
                    }
                }
            }
        }
    }
}