.mglc-services-section {
    background-size: cover;
    background-position: center;
    padding: 0 16px;

    &-main-container {
        position: relative;
        background: url("../images/background/bg2.jpg") no-repeat;
    }

    &-container {
        max-width: $max-width-content;
        padding-top: 66px;
        margin: 0 auto;
    }

    &-info {
        box-sizing: border-box;
        max-width: 670px;
        margin: 2px auto 0;

        & .main-name {
            @include mglc-font-montserrat-bold;
            margin-bottom: 20px;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #141414;
        }

        & .info-text {
            @include mglc-font-open-sans-light;
            font-size: 16px;
            text-transform: capitalize;
            line-height: 30px;
            color: $grey-color-2;
        }
    }

    &-icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 742px;
        margin: 38px auto 0;

        & .icon-services {
            display: flex;
            flex-wrap: wrap;
            margin-top: 24px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                & .far,
                & .fas {
                    border: 2px solid $yellow-color;
                }

                & .name {
                    transform: scale(1.1, 1.1);
                }
            }

            & .far,
            & .fas {
                font-size: 28px;
                border: 2px solid #d8d8d8;
                border-radius: 50%;
                padding: 20px;

            }

            & .name {
                @include mglc-font-montserrat-semi-bold;
                margin: 0;
                padding: 25px 6px 0 32px;
                font-size: 14px;
                text-transform: uppercase;
                word-spacing: 5px;
            }

        }
    }

    &-button {
        margin: 82px auto 0;
        text-align: center;

        & button {
            @include mglc-font-montserrat-semi-bold;
            padding: 13px 30px;
            border: 1px solid rgba(255,255,255,.5);
            align-items: center;
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            background: none;
            cursor: pointer;
            text-shadow: 1px 1px 2px $grey-color;
            color: $text-color;
            box-shadow: 0 0 2px 1px $grey-color;
            transition: 0.3s;

            &:hover {
                transform: translateX(10px);
                border: 1px solid $yellow-color;
            }
        }
    }
}
   