.mglc-team-section {  
    margin-top: 137px; 
    margin-bottom: 125px;    
    &-title {
        text-align: center;
        margin-bottom: 78px;
          
        &-value {
            @include mglc-font-montserrat-bold;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-right: 12px;
        }
          
        & .template-hummer {
            display: inline-block;
            margin-top: 11px;
            }
          
        &-mission {
            @include mglc-font-open-sans-light;
            margin-top: 12px;
            font-size: 18px;
            text-transform: capitalize;
            color: $grey-color-2;
        }
    }
        
    & .mglc-team-section-membres {
        max-width: $max-width-content;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;

        & .employee {
            position: relative;
            height: 423px;

            &-information {
                position: absolute;
                bottom: 0;
                padding: 16px 0 1px 19px;
                border-top: 1px solid white;
                width: 370px;

                & .first-name {
                    @include mglc-font-montserrat-bold;
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: $text-color;
                }

                & .profession {
                    @include mglc-font-open-sans-light-italic;
                    margin-bottom: 17px;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    color:$text-color;
                
                }
            }
            
            & .avatar {
                overflow: hidden;
                width: 370px;
                height: 420px;
            }
        }
    }
    & .mglc-team-section-container {
        max-width: $max-width-content;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &-about {
            margin-top: 52px;
            width: 781px;
            & .text-title {
            @include mglc-font-montserrat-bold;
            font-size: 24px;
            letter-spacing: 2px;
            }

            & .text-description {
                @include mglc-font-montserrat-regular;
                margin-top: 30px;
                font-size: 14px;
                line-height: 30px;
                color:$grey-color-2;
            }
        }
        &-button {
            margin-top: 89px;
            margin-right: 12px;
            text-align: center;
    
            & button{
                @include mglc-font-montserrat-regular;
                padding: 24px 54px;
                border: 1px solid rgba(20,20,20,.8);
                align-items: center;             
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 5px;
                background: none;
                cursor: pointer;
                transition: box-shadow .3s;
    
                &:hover {
                    box-shadow: 3px 3px 3px rgba(33,33,33,.6);
                }
            }
        }   
    }
}