<section class="mglc-about-section" id="about">
    <div class="mglc-about-section-bg">
    </div>
    <div class="mglc-about-section-title">
        <h5>
            WHY CHOOSE US
        </h5>
        //= ../../template/hammer-icon.html
        <p class="mission">
            Our Mission We build Amazing Website
        </p>
    </div>

    <div class="mglc-about-section-container">
        <div class="mglc-about-section-text">
            <h3>
                ULTRA SERVICES & BEST SUPPORT
            </h3>

            <p class="text">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti arque corrupti quos dolores et quas molestias excepturi sint occaecati copiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
            </p>

            <img src="../../img/icon/line.png" alt="line"> 

            <p class="signature">
                JOHN DOE - CEO/FOUNDER
            </p>
        </div>
    </div>

    <div class="mglc-about-section-item">
        <div class="point-services">
            <i class="far fa-paper-plane point-services-icon">
            </i>

            <div class="point-services-info">
                <p class="point-services-info-name-main">
                    TRENDING
                </p>

                <p class="point-services-info-text">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                </p>
            </div>
        </div>

        <div class="point-services">
            <div class="point-services-info">
                <p class="point-services-info-name">
                    SMART SETTING
                </p>

                <p class="point-services-info-text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                </p>
            </div>
        </div>

        <div class="point-services">
            <i class="fas fa-sliders-h point-services-icon">
            </i>

            <div class="point-services-info">
                <p class="point-services-info-name">
                    POWERFUL ADMIN
                </p>

                <p class="point-services-info-text">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                </p>
            </div>    
        </div>

        <div class="point-services">
            <i class="far fa-moon point-services-icon">
            </i>

            <div class="point-services-info">
                <p class="point-services-info-name">
                    SLEEPING MODE
                </p>

                <p class="point-services-info-text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                </p>
            </div>
        </div>

        <div class="point-services">
            <i class="far fa-heart point-services-icon">
            </i>

            <div class="point-services-info">
                <p class="point-services-info-name">
                    USER FRIENDLY
                </p>

                <p class="point-services-info-text">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                </p>
            </div>
        </div>

        <div class="point-services">
            <i class="far fa-hdd point-services-icon">
            </i>

            <div class="point-services-info">
                <p class="point-services-info-name">
                    AUTO BACKUP
                </p>

                <p class="point-services-info-text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                </p>
            </div>
       </div>
    </div>
</section>
