<section class="mglc-blog-section" id="blog">

    <div class="mglc-blog-section-title">
        <h5 class="main-name">
            latest blog
        </h5>

        <div class="template-hummer">
            //= ../../template/hummer-icon.html
        </div>

        <p class="mission">
            tell your story
        </p>
    </div>

    <div class="container-fluid mglc-blog-section-gallery">
        <div class="row">
            <div class="col-xl-3 image mglc-blog-section-gallery-item">
            </div>

            <div class="col-xl-3 description mglc-blog-section-gallery-item">
                <div class="gallery-description">
                    <div class="gallery-description-content">
                        <div class="gallery-description-label">
                            <p class="gallery-description-label-value">
                                branding design
                            </p>
                        </div>

                        <div class="gallery-description-title">
                            <p class="gallery-description-title-value">
                                leeds juicery
                            </p>
                        </div>

                        <div class="gallery-description-content">
                            <p class="gallery-description-content-value">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque quod
                                voluptatibus.
                            </p>
                        </div>
                    </div>

                    <div class="gallery-description-btn">
                        <button class="gallery-description-btn-item">
                            read more
                            <span class="gallery-description-btn-item-arrow">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 image mglc-blog-section-gallery-item">
            </div>

            <div class="col-xl-3 description mglc-blog-section-gallery-item">
                <div class="gallery-description">
                    <div class="gallery-description-content">
                        <div class="gallery-description-label">
                            <p class="gallery-description-label-value">
                                motion graphic
                            </p>
                        </div>

                        <div class="gallery-description-title">
                            <p class="gallery-description-title-value">
                                hello itaewon project
                            </p>
                        </div>

                        <div class="gallery-description-content">
                            <p class="gallery-description-content-value">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque quod
                                voluptatibus.
                            </p>
                        </div>
                    </div>

                    <div class="gallery-description-btn">
                        <button class="gallery-description-btn-item">
                            read more
                            <span class="gallery-description-btn-item-arrow">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 description mglc-blog-section-gallery-item">
                <div class="gallery-description">
                    <div class="gallery-description-content">
                        <div class="gallery-description-label">
                            <p class="gallery-description-label-value">
                                lookbook seasonal
                            </p>
                        </div>

                        <div class="gallery-description-title">
                            <p class="gallery-description-title-value">
                                brooklyn
                            </p>
                        </div>

                        <div class="gallery-description-content">
                            <p class="gallery-description-content-value">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque quod
                                voluptatibus.
                            </p>
                        </div>
                    </div>

                    <div class="gallery-description-btn">
                        <button class="gallery-description-btn-item">
                            read more
                            <span class="gallery-description-btn-item-arrow">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 image mglc-blog-section-gallery-item">
            </div>

            <div class="col-xl-3 description mglc-blog-section-gallery-item">
                <div class="gallery-description">
                    <div class="gallery-description-content">
                        <div class="gallery-description-label">
                            <p class="gallery-description-label-value">
                                photography
                            </p>
                        </div>

                        <div class="gallery-description-title">
                            <p class="gallery-description-title-value">
                                maxi dress
                            </p>
                        </div>

                        <div class="gallery-description-content">
                            <p class="gallery-description-content-value">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque quod
                                voluptatibus.
                            </p>
                        </div>
                    </div>

                    <div class="gallery-description-btn">
                        <button class="gallery-description-btn-item">
                            read more
                            <span class="gallery-description-btn-item-arrow">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 image mglc-blog-section-gallery-item">
            </div>
        </div>
    </div>

</section>