<section class="mglc-contact-section" id="contact">
    <div class="mglc-contact-section-title">
        <h3 class="mglc-contact-section-title-value">
            GET IN TOUCH
        </h3>

        <div class="template-hummer">
            //= ../../template/hummer-icon.html
        </div>

        <p class="mglc-contact-section-title-mission">
            Support Fast & Pro 24/7
        </p>
    </div>
    <div class="mglc-contact-section-container">
        <div class="mglc-contact-section-container-bg">
            <div class="container-fluid mglc-contact-section-container-icons">
                <div class="row">
                    <div class="icon-information col-xl-4">
                        <div class="icon">
                            <i class="fas fa-mobile-alt"></i>
                            <p class="icon-detail">
                                +61 3 8376 6284 </br>
                                +61 4 5873 2984
                            </p>
                        </div>
                    </div>
                    <div class="icon-information col-xl-4">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="icon-detail">
                                PO Box 21177 </br>
                                Litte Lonsdale St, Melbourne </br>
                                Victoria 8011 Austral
                            </p>
                        </div>
                    </div>
                    <div class="icon-information col-xl-4">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                            <p class="icon-detail">
                                support@yourcompany.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>