<section class="mglc-facts-section">
    <div class="mglc-facts-section-bg"></div>
    <div class="mglc-facts-section-container">
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                35
            </p>
            <p class="indicator-text">
                Team Members
            </p>
            <p class="line">
            </p>
        </div>
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                5225
            </p>
            <p class="indicator-text">
                Line of Codes
            </p>
            <p class="line">
            </p>
        </div>
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                4977
            </p>
            <p class="indicator-text">
                Satisfied Clients
            </p>
            <p class="line">
            </p>
        </div>
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                178
            </p>
            <p class="indicator-text">
                PSD files included
            </p>
            <p class="line">
            </p>
        </div>
    </div>
</section>    