<section class="mglc-facts-section" id="facts">

    <div class="mglc-facts-section-bg">
    </div>

    <div class="mglc-facts-section-container container-fluid">
        <div class="row">
            <div class="mglc-facts-section-container-points col-xl-3 col-md-6 col-xs-12">
                <p class="indicator">
                    <span class="counter">
                        35
                    </span>
                </p>
    
                <p class="indicator-text">
                    Team Members
                </p>
            </div>
    
            <div class="mglc-facts-section-container-points col-xl-3 col-md-6 col-xs-12">
                <p class="indicator">
                    <span class="counter">
                        5225
                    </span>
                </p>
    
                <p class="indicator-text">
                    Line of Codes
                </p>
            </div>
    
            <div class="mglc-facts-section-container-points col-xl-3 col-md-6 col-xs-12">
                <p class="indicator">
                    <span class="counter">
                        4977
                    </span>
                </p>
    
                <p class="indicator-text">
                    Satisfied Clients
                </p>
            </div>
    
            <div class="mglc-facts-section-container-points col-xl-3 col-md-6 col-xs-12">
                <p class="indicator">
                    <span class="counter">
                        178
                    </span>
                </p>
    
                <p class="indicator-text">
                    PSD files included
                </p>
            </div>
        </div>
    </div>

</section>
