<section class="mglc-facts-section" id="facts">
    <div class="mglc-facts-section-bg"></div>
    <div class="mglc-facts-section-container">
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                <span class="counter">
                    35
                </span>
            </p>
            <p class="indicator-text">
                Team Members
            </p>
            <p class="line">
            </p>
        </div>
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                <span class="counter">
                    5225
                </span>
            </p>
            <p class="indicator-text">
                Line of Codes
            </p>
            <p class="line">
            </p>
        </div>
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                <span class="counter">
                    4977
                </span>
            </p>
            <p class="indicator-text">
                Satisfied Clients
            </p>
            <p class="line">
            </p>
        </div>
        <div class="mglc-facts-section-container-points">
            <p class="indicator">
                <span class="counter">
                    178
                </span>
            </p>
            <p class="indicator-text">
                PSD files included
            </p>
            <p class="line">
            </p>
        </div>
    </div>
</section>    