<section class="mglc-pricing-section" id="pricing">
    <div class="mglc-pricing-section-title">
        <h3 class="mglc-pricing-section-title-value">
            PRICING & PLANS
        </h3>

        <div class="template-hummer">
            //= ../../template/hummer-icon.html
        </div>

        <p class="mglc-pricing-section-title-mission">
            Get Your Plans for Work
        </p>
    </div>
    <div class="mglc-pricing-section-container">
        <div class="mglc-pricing-section-container-heading">

            <span class="mglc-pricing-section-container-heading-part1">
                register now
            </span>

            <span class="mglc-pricing-section-container-heading-part2">
                or
            </span>

            <span class="mglc-pricing-section-container-heading-part3">
                TRY IF FREE FOR 30 DAYS
            </span>

        </div>

        <div class="mglc-pricing-section-container-cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Basic Plan</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">15 Email Account</li>
                    <li class="list-group-item">100Gb Space</li>
                    <li class="list-group-item">1 Domain Name</li>
                    <li class="list-group-item">500Gb Bandwidth</li>
                    <li class="list-group-item">25 MySQL Databases</li>
                    <li class="list-group-item">Enhanced Sercurity</li>
                    <li class="list-group-item">
                        <i class="fas fa-dollar-sign"></i>
                        <p>185</p>
                        <span>monthly</span></li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
                </div>
            </div>
        </div>




        <!-- <div class="container-fluid mglc-pricing-section-container-cards">
            <div class="row">

                <div class="card-information col-xl-3">
                    <div class="card">
                        <p class="card-title">
                            Basic Plan
                        </p>
                        <ul class="card-list">
                            <li>15 Email Account</li>
                            <li>100Gb Space</li>
                            <li>1 Domain Name</li>
                            <li>500Gb Bandwidth</li>
                            <li>25 MySQL Databases</li>
                            <li>Enhanced Sercurity</li>
                        </ul>
                        <div class="card-price">
                            <i class="fas fa-dollar-sign"></i>
                            <p>185</p>
                            <span>monthly</span>
                        </div>
                    </div>
                </div>

                <div class="card-information col-xl-3">
                    <div class="card">
                        <p class="card-title">
                            Business Plan
                        </p>
                        <ul class="card-list">
                            <li>15 Email Account</li>
                            <li>100Gb Space</li>
                            <li>1 Domain Name</li>
                            <li>500Gb Bandwidth</li>
                            <li>25 MySQL Databases</li>
                            <li>Enhanced Sercurity</li>
                        </ul>
                        <div class="card-price">
                            <i class="fas fa-dollar-sign"></i>
                            <p>235</p>
                            <span>monthly</span>
                        </div>
                    </div>
                </div>

                <div class="card-information col-xl-3">
                    <div class="card">
                        <p class="card-title">
                            Premium Plan
                        </p>
                        <ul class="card-list">
                            <li>15 Email Account</li>
                            <li>100Gb Space</li>
                            <li>1 Domain Name</li>
                            <li>500Gb Bandwidth</li>
                            <li>25 MySQL Databases</li>
                            <li>Enhanced Sercurity</li>
                        </ul>
                        <div class="card-price">
                            <i class="fas fa-dollar-sign"></i>
                            <p>185</p>
                            <span>monthly</span>
                        </div>
                    </div>
                </div>

                <div class="card-information col-xl-3">
                    <div class="card">
                        <p class="card-title">
                            Ultimate Plan
                        </p>
                        <ul class="card-list">
                            <li>15 Email Account</li>
                            <li>100Gb Space</li>
                            <li>1 Domain Name</li>
                            <li>500Gb Bandwidth</li>
                            <li>25 MySQL Databases</li>
                            <li>Enhanced Sercurity</li>
                        </ul>
                        <div class="card-price">
                            <i class="fas fa-dollar-sign"></i>
                            <p>235</p>
                            <span>monthly</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="mglc-pricing-section-container-button">
            <button>GET PLAN</button>
        </div>
    </div>
</section>