<section class="mglc-pricing-section" id="pricing">

    <div class="mglc-pricing-section-title">
        <h3 class="mglc-pricing-section-title-value">
            PRICING & PLANS
        </h3>

        <div class="template-hummer">
            //= ../../template/hummer-icon.html
        </div>

        <p class="mglc-pricing-section-title-mission">
            Get Your Plans for Work
        </p>
    </div>

    <div class="mglc-pricing-section-container">
        <div class="mglc-pricing-section-container-heading">
            <span class="mglc-pricing-section-container-heading-part1">
                register now
            </span>

            <span class="mglc-pricing-section-container-heading-part2">
                or
            </span>

            <span class="mglc-pricing-section-container-heading-part3">
                TRY IF FREE FOR 30 DAYS
            </span>
        </div>

        <div class="mglc-pricing-section-container-cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Basic Plan
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">15 Email Account</li>
                    <li class="list-group-item">100Gb Space</li>
                    <li class="list-group-item">1 Domain Name</li>
                    <li class="list-group-item">500Gb Bandwidth</li>
                    <li class="list-group-item">25 MySQL Databases</li>
                    <li class="list-group-item">Enhanced Sercurity</li>
                    <li class="list-group-item">
                        <sup>
                            <i class="fas fa-dollar-sign"></i>
                        </sup>

                        <p>185</p>

                        <span>monthly</span>
                    </li>
                </ul>

                <div class="card-body button">
                    <button class="get-plan-btn">
                        GET PLAN
                    </button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Business Plan
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">15 Email Account</li>
                    <li class="list-group-item">100Gb Space</li>
                    <li class="list-group-item">1 Domain Name</li>
                    <li class="list-group-item">500Gb Bandwidth</li>
                    <li class="list-group-item">25 MySQL Databases</li>
                    <li class="list-group-item">Enhanced Sercurity</li>
                    <li class="list-group-item">
                        <sup>
                            <i class="fas fa-dollar-sign"></i>
                        </sup>

                        <p>235</p>

                        <span>monthly</span>
                    </li>
                </ul>

                <div class="card-body button">
                    <button class="get-plan-btn">
                        GET PLAN
                    </button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Premium Plan
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">15 Email Account</li>
                    <li class="list-group-item">100Gb Space</li>
                    <li class="list-group-item">1 Domain Name</li>
                    <li class="list-group-item">500Gb Bandwidth</li>
                    <li class="list-group-item">25 MySQL Databases</li>
                    <li class="list-group-item">Enhanced Sercurity</li>
                    <li class="list-group-item">
                        <sup>
                            <i class="fas fa-dollar-sign"></i>
                        </sup>

                        <p>185</p>

                        <span>monthly</span>
                    </li>
                </ul>

                <div class="card-body button">
                    <button class="get-plan-btn">
                        GET PLAN
                    </button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Ultimate Plan
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">15 Email Account</li>
                    <li class="list-group-item">100Gb Space</li>
                    <li class="list-group-item">1 Domain Name</li>
                    <li class="list-group-item">500Gb Bandwidth</li>
                    <li class="list-group-item">25 MySQL Databases</li>
                    <li class="list-group-item">Enhanced Sercurity</li>
                    <li class="list-group-item">
                        <sup>
                            <i class="fas fa-dollar-sign"></i>
                        </sup>

                        <p>235</p>

                        <span>monthly</span>
                    </li>
                </ul>

                <div class="card-body button">
                    <button class="get-plan-btn">
                        GET PLAN
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
