<section class="mglc-reviews-section" id="reviews">

    <div class="mglc-reviews-section-container">
        <div class="mglc-reviews-section-container-bg">
        </div>

        <div class="mglc-reviews-section-container-title">
            <h2 class="mglc-reviews-section-container-title-value">
                What client say ?
            </h2>
        </div>

        //= ../../template/hummer-icon.html

        <div class="mglc-reviews-section-container-subtitle">
            <p class="mglc-reviews-section-container-subtitle-value">
                Our happy clients
            </p>
        </div>

        <div class="container-fluid">
            <div class="mglc-reviews-section-container-authors row">
                <div class="mglc-reviews-section-container-authors-item col-xl-4">
                    <img class="review-avatar" src="../../img/Potfolio_gird/avatar3.jpg" alt="avatar3"
                        data-target="#myCarousel" data-slide-to="0">
                </div>

                <div class="mglc-reviews-section-container-authors-item col-xl-4">
                    <img class="review-avatar active" src="../../img/Potfolio_gird/avatar3.jpg" alt="avatar3"
                        data-target="#myCarousel" data-slide-to="1">
                </div>

                <div class="mglc-reviews-section-container-authors-item col-xl-4">
                    <img class="review-avatar" src="../../img/Potfolio_gird/avatar3.jpg" alt="avatar3"
                        data-target="#myCarousel" data-slide-to="2">
                </div>
            </div>
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">

                    <div class="carousel-caption d-none d-md-block active">
                        <p>"Suspendisse potenti. Integer odio erat, euismod vel dictum nec, mattic ac erat"</p>
                    </div>
                </div>

                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">

                    <div class="carousel-caption d-none d-md-block">
                        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit."
                        </p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">

                    <div class="carousel-caption d-none d-md-block">
                        <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam quis animi
                            accusamus."
                        </p>
                    </div>
                </div>
            </div>

            <div class="mglc-reviews-section-container-info">
                //= ../../template/hummer-icon.html
                <div class="mglc-reviews-section-container-info-additional">
                    <div class="mglc-reviews-section-container-info-additional-title">
                        <p class="mglc-reviews-section-container-info-additional-title-value">
                            White shadow walker
                        </p>
                    </div>

                    <div class="mglc-reviews-section-container-info-additional-subtitle">
                        <p class="mglc-reviews-section-container-info-additional-subtitle-value">
                            CEO/Founded dell
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mglc-reviews-section-footer">
        <div class="mglc-reviews-section-footer-container">
            <div class="mglc-reviews-section-footer-container-title">
                Looking for a
                <span>
                    <a href="#">
                        quality and affordable
                    </a>
                </span>
                for your next project?
            </div>

            <div class="mglc-reviews-section-footer-container-button">
                <button>
                    get a quote
                </button>
            </div>
        </div>
    </div>
</section>