<section class="mglc-services-section" id="services">
    <div class="mglc-services-section-container">
        <div class="mglc-services-section-info">
            <h2 class="main-name">AWESOME MULTI-CONCEPT STUDIO</h2>
            <p class="info-text">There are many variations of passages of Lorem Ipsum available, but the majority
            have suffered alteration in some form, by in iniected humor,or randomised words which don't look even
            slightly believable. Ifyou are going to use a passage og Lorem Ipsum, you need to be sure there isn't
            anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend
            to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
        <div class="mglc-services-section-icons">
            <div class="icon-services disign">
                <i class="far fa-gem"></i>
                <p class="name">
                    UNIQUE DESIGN
                </p>
            </div>
            <div class="icon-services photo">
                <i class="fas fa-camera-retro"></i>
                <p class="name">
                    PHOTOGRAPHY
                </p>
            </div>
            <div class="icon-services art">
                <i class="fas fa-magic"></i>
                <p class="name">
                    CONCEPT ART
                </p>
            </div> 
        </div>

        <!-- <div class="mglc-services-section-icons-mobile">
            <div class="icon-services disign">
                <i class="far fa-gem"></i>
                <p class="name">
                    UNIQUE DESIGN
                </p>
            </div>
            <div class="icon-services photo">
                <i class="fas fa-camera-retro"></i>
                <p class="name">
                    PHOTOGRAPHY
                </p>
            </div>
            <div class="icon-services art">
                <i class="fas fa-magic"></i>
                <p class="name">
                    CONCEPT ART
                </p>
            </div> 
        </div> -->
        <div class="mglc-services-section-button">
            <button onclick="goToServicesPage()">MORE SERVICES</button>
        </div>
    </div>
</section>
