<section class="mglc-team-section" id="team">
    <div class="mglc-team-section-title">
        <h3 class="mglc-team-section-title-value">
            MEET OUR TEAM
        </h3>

        <div class="template-hummer">
            //= ../../template/hummer-icon.html
        </div>

        <p class="mglc-team-section-title-mission">
            We Make Beautiful Template
        </p>
    </div>

    <div class="container-fluid mglc-team-section-membres">
        <div class="row">
            <div class="employee col-md-4">
                <div class="employee-information">
                    <p class="first-name">
                        JOHN SNOW
                    </p>

                    <p class="profession">
                        CEO/CO-FOUNDER
                    </p>
                </div>

                <img class="avatar" src="images/Potfolio_gird/avatar1.jpg" alt="avatar1">
            </div>

            <div class="employee col-md-4">
                <div class="employee-information">
                    <p class="first-name">
                        TYRION LANNISTER
                    </p>

                    <p class="profession">
                        ART DIRECTOR/CO-FOUNDER
                    </p>
                </div>

                <img class="avatar" src="images/Potfolio_gird/avatar2.jpg" alt="avatar2">
            </div>

            <div class="employee col-md-4">
                <div class="employee-information">
                    <p class="first-name">
                        SANSA STARK
                    </p>

                    <p class="profession">
                        PRODUCT MANAGER /CO-FOUNDER
                    </p>
                </div>

                <img class="avatar" src="images/Potfolio_gird/avatar3.jpg" alt="avatar3">
            </div>
        </div>
    </div>

    <div class="mglc-team-section-container container-fluid">
        <div class="row">
            <div class="mglc-team-section-container-about col-xl-8">
                <h3 class="text-title">
                    ARE YOUR CRAZY MAN?
                </h3>

                <p class="text-description">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"
                </p>
            </div>

            <div class="mglc-team-section-container-button col-xl-4">
                <button>
                    JOIN WITH US
                </button>
            </div>
        </div>
    </div>

</section>