<section class="mglc-team-section" id="team">
    <div class="mglc-team-section-title"> 

        <h5>MEET OUR TEAM</h5>
        //= ../../template/hammer-icon.html
        <p class="mglc-about-section-title-mission">We Make Beautiful Template</p>
    </div>

    <div class="container mglc-team-section-membres">
        <div class="row">
            <div class="employee" col-xl-4>
                <p class="first-name">JOHN SNOW</p>
                <p class="profession">CEO/CO-FOUNDER</p>
                <img class="avatar" src="../../img/Potfolio_gird/avatar1.jpg" alt="avatar1">
            </div>

            <div class="employee" col-xl-4>
                <p class="first-name">TYRION LANNISTER</p>
                <p class="profession">ART DIRECTOR/CO-FOUNDER</p>
                <img class="avatar" src="../../img/Potfolio_gird/avatar2.jpg" alt="avatar2">
            </div>

            <div class="employee" col-xl-4>
                <p class="first-name">SANSA STARK</p>
                <p class="profession">PRODUCT MANAGER /CO-FOUNDER</p>
                <img class="avatar" src="../../img/Potfolio_gird/avatar3.jpg" alt="avatar3">
            </div>
        </div>
    </div>
    <div>
        <h3>ARE YOUR CRAZY MAN ?</h3>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
    </div>
    <a class="button" href="#">JOIN WITH US</a>
</section>
