<section class="mglc-work-section" id="work">

    <div class="mglc-work-section-container">
        <div class="mglc-work-section-container-title">
            <h3 class="mglc-work-section-container-title-value">
                OUR WORK
            </h3>

            <div class="template-hummer">
                //= ../../template/hummer-icon.html
            </div>

            <p class="mglc-work-section-container-title-mission">
                Show Amazing Your Works
            </p>
        </div>

        <div class="mglc-work-section-container-buttons">
            <button class="gallery-filter active" onclick="filterSelection('.brand', this)">
                BRANDING DESIGN
            </button>

            <button class="gallery-filter" onclick="filterSelection('.photo', this)">
                PHOTOGRAPHY
            </button>

            <button class="gallery-filter" onclick="filterSelection('.web', this)">
                WEB DESIGN
            </button>

            <button class="gallery-filter">
                +
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="mglc-work-section-galery row">
            <div class="picture col-xl-3 brand photo">
                <a href="../img/Potfolio_gird/picture-1.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-1.jpg" alt="picture-1">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand web">
                <a href="../img/Potfolio_gird/picture-2.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-2.jpg" alt="picture-2">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand photo web">
                <a href="../img/Potfolio_gird/picture-3.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-3.jpg" alt="picture-3">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand web">
                <a href="../img/Potfolio_gird/picture-4.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-4.jpg" alt="picture-4">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand photo">
                <a href="../img/Potfolio_gird/picture-5.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-5.jpg" alt="picture-5">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand">
                <a href="../img/Potfolio_gird/picture-6.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-6.jpg" alt="picture-6">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand photo web">
                <a href="../img/Potfolio_gird/picture-7.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-7.jpg" alt="picture-7">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="picture col-xl-3 brand photo web">
                <a href="../img/Potfolio_gird/picture-8.jpg" data-lightbox="mglc-work-section-galery">
                    <img src="../img/Potfolio_gird/picture-8.jpg" alt="picture-8">

                    <div class="picture-hover">
                        <div class="picture-hover-container">
                            <div class="picture-hover-container-icon">
                                <i class="fas fa-search fa-3x">
                                </i>
                            </div>

                            <p class="picture-hover-container-name">
                                Crossfit : 15.4 Open Workout
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>