<section class="mglc-work-section" id="work">
    <div class="mglc-work-section-container">
        <div class="mglc-work-section-container-title">
            <h3 class="main-name">OUR WORK</h3>
            <div class="template-hummer">
                //= ../../template/hummer-icon.html
            </div>
            <p class="mission">Show Amazing Your Works</p>
        </div>

        <div class="mglc-work-section-container-buttons">
            <button>BRANDING DESIGN</button>
            <button>PHOTOGRAPHY</button>
            <button>WEB DESIGN</button>
            <button>+</button>
        </div>
    </div>
    <div class=mglc-work-section-galery>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-1.jpg" data-lightbox="mglc-work-section-galery">picture-1
                <img src="../../img/Potfolio_gird/picture-1.jpg" alt="picture-1">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-2.jpg" data-lightbox="mglc-work-section-galery">picture-2
                <img src="../../img/Potfolio_gird/picture-2.jpg" alt="picture-2">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-3.jpg" data-lightbox="mglc-work-section-galery">picture-3
                <img src="../../img/Potfolio_gird/picture-3.jpg" alt="picture-3">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-4.jpg" data-lightbox="mglc-work-section-galery">picture-4
                <img src="../../img/Potfolio_gird/picture-4.jpg" alt="picture-4">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-5.jpg" data-lightbox="mglc-work-section-galery">picture-5
                <img src="../../img/Potfolio_gird/picture-5.jpg" alt="picture-5">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-6.jpg" data-lightbox="mglc-work-section-galery">picture-6
                <img src="../../img/Potfolio_gird/picture-6.jpg" alt="picture-6">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-7.jpg" data-lightbox="mglc-work-section-galery">picture-7
                <img src="../../img/Potfolio_gird/picture-7.jpg" alt="picture-7">
            </a>
        </div>
        <div class="picture">
            <a href="../../img/Potfolio_gird/picture-8.jpg" data-lightbox="mglc-work-section-galery">picture-8
                <img src="../../img/Potfolio_gird/picture-8.jpg" alt="picture-8">
            </a>
        </div>
    </div>




</section>